
.bg-dark{
    background-color: #0c6396!important;
}
.card-header{
    border: unset;
    background-color: unset;
}

.card-body{
    background-color: rgba(163, 163, 163, 0.144);
    border-radius: 5px;
    height: 77vh;
}

